.header {
  background: white;
  padding: 0;
  border-bottom: 1px solid #608378;
  box-shadow: 0 6px 10px rgba(71, 116, 104, 0.3); /* Stronger shadow */
}

  
  .header a {
    color: #13af13;
  }
  
  .header a:hover {
    /* background: #29e772;
    color: white; */
    cursor: pointer;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    padding: 1rem;
  }
  
  .brand {
     border-radius: 15px;
     width: 6rem;
     height: 100%;
  }


  .header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  .header ul a {
    padding: 1rem;
    display: inline-block;
  }
  
  .menu_container {
    position: relative;
  }
  
  .menu {
    position: absolute;
    z-index: 1001;
    background-color: whitesmoke;
    display: none;
  }
  
  .menu_container:hover .menu {
    display: block;
  }
  
  .menu a {
    width: 100%;
    min-width: 8rem;
  }
  
  .cart_count {
    background-color: #ff4d4d;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
  }